<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first Vue.js</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="mido">
      <ul>
          <li v-for="ski in skills">
              {{ ski }}
          </li>
      </ul>
      <ul>
        <li v-for="(ski , index) in skills">
            {{ index }} . {{ ski }}
        </li>
    </ul>
    <ul>
        <li v-for=" (test , index ) in completedTests">
           {{ index }} . {{ test.testName }} = {{ test.testResult }}
        </li>
    </ul>



    </div>


    <script src="vue.js"></script>
    
    <script>
         var vm = new Vue({
            el: '#mido',
            data: {
                name: 'Mohammed',
                age: 42,
                skills:['HTML' , 'CSS' , 'JS'],
                inSubscribed: false,
                completedTests:[
                    {
                        testName: 'Mohemmed',
                        testResult: '80%'
                    },
                    {
                        testName: 'Daniel',
                        testResult: '90%'
                    },
                    {
                        testName: 'David',
                        testResult: '70%'
                    },
                ],
            },
            methods: {
                yourAgeInDays: function () {
                    return 'your Age In Days Is: ' + this.age * 365 ;
                },
            }
        })
    </script>
    
</body>
</html>